
/* ====================== Map ====================== */
.map {
    background-color: #ccc;
    height: 400px;
    width: 100%;
}

.aria-map-description {
    display: none;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
    align-items: center;
    background-color: #3397DB;
    height: 50px;
    width: 100%;
}

.selection {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 100px;
}

@media (min-width: 450px) {
    .selection {
        width: 200px;
    }
}

.filter-label {
    display: none;
}

/* ====================== Restaurant Listing ====================== */
.restaurants {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.restaurant-listing {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  max-width: 100%;
  min-height: 380px;
  min-width: 270px;
  padding: 10px;
  text-align: left;
}

@media (min-width: 600px) {
    .restaurant-listing {
        max-width: 45%;
    }
}

@media (min-width: 1000px) {
    .restaurant-listing {
        max-width: 300px;
    }
}

.restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  overflow: hidden;
}

.restaurants-list .restaurant-text-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  max-height: 170px;
  min-height: 170px;
  padding: 0;
}


.restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

.restaurants p {
    font-size: 11pt;
    margin: 0;
}

.restaurants li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
